#field div {
    overflow:hidden;
}

.square {
    border-radius: 10px;
}
.square:hover {
    background-color: #1d9ce5;
}

#field {
    float: left;
    width: 10%;
}

#board {
    width: max-content;
    margin:0 auto;
    text-align: center;
}

#ticBoard {
    width: max-content;
    margin:0 auto;

}


#chat {
    width: 20%;
    text-align: center;
    float: right;
    height: 90%;
}

#game {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    weight:90%;
    height:90%;
}

#panelBody {
    background-color: #acd1db;
}

#choose {
    color: red;
}

select {
    background-color: #5e8a2f;
}

.classSelect {
    display: inline-block
}


